# ------------------------------------------------------------------------------
# MTXLIB - MeatAxe library directory.
# This is the place where arithmetic tables and some other input files are
# searched by default.
# This must be an absolute path (starting with '/').
# ------------------------------------------------------------------------------
MTXLIB=MTXLIB/UNDEFINED/EDIT/MAKEFILE.CONF

# ------------------------------------------------------------------------------
# MTXBIN - Directory where executables are installed.
# This must be an absolute path (starting with '/').
# ------------------------------------------------------------------------------
MTXBIN=MTXBIN/UNDEFINED/EDIT/MAKEFILE.CONF

# ------------------------------------------------------------------------------
# C compiler name and common options
# ------------------------------------------------------------------------------

# The default is to use GNU C:
# Tested under Linux 2.0.31, HP/UX B.10.20
CC=gcc	
CFLAGS1=-std=gnu99 -O -Wall

# For debugging:
#CFLAGS1=-ansi -g -Wall -DDEBUG #-DPARANOID
#CFLAGS1=-ansi -g -Wall -DASM_MMX -DDEBUG

# If you don't have gcc, use the standard C compiler:
#CC=cc
#COMPFLAGS=-O

# ------------------------------------------------------------------------------
# Select which kernel you want to use.
# ------------------------------------------------------------------------------

# Standard kernel, up to GF(256)
ZZZ=0

# Big kernel, up to GF(2^16)
#ZZZ=1
